# Dependencies
node_modules
.pnpm
pnpm-lock.yaml

# Build
.next
out
dist
build

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Misc
.turbo
.cache
